/* font-family: 'Varela Round', sans-serif; */
div{
   width: 75px;
  height: 75px; 
  box-sizing: border-box;
  border: 1px green dashed;
}
 .pic_mercury{
  height: 66.6%;
} 
.pic_venus{
  height: 100%;
}
.pic_earth{
  height: 100%;
}

.pic_mars{
  height: 50%;
}
.pic_jupiter{
  height: 300%;
}

.pic_saturn{
  height: 275%;
}

.pic_uranus{
  height: 150%;
}

.pic_neptune{
  height: 150%;
}

.pic_pluto{
  height: 20%;
}

.sun{
  height: 120%;
}

.mercury {
  margin-left: 10%;
}

body {
  background-color: black;
}
.everything{
height: 150%; 
float: center; 
position: inline-block;
overflow: hidden;
width: 2200px;
margin-top: 5%;
}
.planet{
  float:left;
  margin-right: 2%;
  margin-top: 10%;
}
.jupiter {
/*   margin-right: 4%; */
  margin-left:15%;
}
.saturn{
  margin-left: 5%;
}
.uranus{
  margin-left:5%;
}
.neptune{
  margin-left: 2%;
}
.pluto{
  margin-left: 2%;
}


body {
  background: url("../images/giphy.gif");
  background-size: cover;
}

.box_earth{
  background-color: yellow;
}

.hidden{
  display:none;
}
*{
  color: white;
  font-family: 'Varela Round', sans-serif;
}

.info{
   color: white;
   font-family: 'Varela Round', sans-serif;
}